html(lang="zh-cmn-Hans")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title QQ PV生成工具
    body
        #app
            .get-started(v-if="pvData == null")
                input(type="file", ref="fileSelector", @change="fileSelected(this.files)")
                .drag-area(@dragleave="function(e) {e.preventDefault();}", @dragenter="function(e) {e.preventDefault();}", @dragover="function(e) {e.preventDefault();}", @drop="dragHandler")
                    Drag(width="150")
                    p 将PV数据拖入此处
                    p 或#[a(href="javascript:;", @click="exploreFile()") 点击这里]来手动选择
                a(href="javascript:;", @click="startNew()") 创建新PV
            .editor(v-else)
                .title-bar
                    input(type="text", v-model="pvData.name")
                    button(@click="playPV()") 播放
                        Play(height="16")
                .container
                    .playflow
                    .modules
                        h3 模块箱