html(lang="zh-cmn-Hans")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title QQ PV生成工具
    body
        section
            h1.hello-world Hello World!
        section
            h2.title 你好，世界
            p.artist QGRay&nbsp;/&nbsp;洛天依
            div.lyric
                div.loading 加载歌词中...